.container {
  height: 47%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.container_cards {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card {
    width: 240px;
    height: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card img {
    width: 225px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card p {
    margin-top: 5px;
    color: #777;
    font-size: 0.9rem;
  }

  .description_ibook {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    z-index: 4;
    background-color: #FFEFD5;
  }
  
  .description_ibook img {
    height: 500px;
    width: 450px;
    margin: 5rem 3rem;
    padding: 2rem;
    object-fit: cover;
    border-radius: 50px;
  }

  .description_ibook button {
    height: 50px;
    width: 50px;
    z-index: 4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    right: 3rem;
    background-color:  #CD853F;
    color: #090909;
    border: none;
  }


  .Description {
    display: flex;
    flex-direction: column;
  }

  .div_buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

  }

  .share-button {
    height: 25px;
    width: 25px;
    margin: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all ease-out 1s;
  }

  .share-button:hover {
    color: #CD853F;
    transition: all ease-out 1ms;
  }

  .Heart-button {
    height: 25px;
    width: 25px;
    margin: 1.5rem;
    border: none;
    cursor: pointer;
  }

  .Description h2 {
    width: 80%;
    font-size: 3rem;
    font-weight: bolder;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
  } 

  .Description p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;  
    padding: 0.5rem 0rem;
  }

  .Description h3, h4 {
    margin: 0rem 1rem;  
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  
   