.Barra_superior {
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    gap: 80rem;
    align-items: center;
}

.Panel_categoria_books {
    display: flex;
    gap: 20px;
  }
  
  .grid_view {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .list_view {
    flex-direction: column;
    align-items: center;
  }
  
  .Card_livros {
    width: 200px;
  }
  
  .list_view .Card_livros {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  

.card_livros img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.card_livros h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0.7rem;
}

.AboutBook {
    height: auto;
    margin: 1rem;
    gap: 3.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.see_more {
    background-color: #2c1810;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see_more a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
}
