.Barra_superior {
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    gap: 80rem;
    align-items: center;
}

.Panel_categoria_books {
    display: flex;
    gap: 20px;
  }

  .Buttons_Style_categoria {
    height: 4rem;
    width: 7rem;
    gap: 1rem;
    display: flex;
    border-radius: 5px;
  }

  .Buttons_Style_categoria button {
    height: 3rem;
    width: 6rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8ab7f;
    border: none;
    border-radius: 5px;
  }
  
  .grid_view {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .list_view {
    flex-wrap: wrap;

    gap: 2rem;
    overflow: hidden;
    align-items: center;
    transition: all 90ms ease;
  }
  
  .Card_livros {
    width: 200px;
  }

  .Card_descrition_on {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: #ffe0b7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 90ms ease;
  }

  .list_view .Card_livros {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
.card_livros img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.card_livros h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.AboutBook {
    height: auto;
    margin: 1rem;
    gap: 3.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.see_more {
    background-color: #2c1810;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see_more a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
}


  .Card_descrition_of {
    height: 500px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  .Card_descrition_of .AboutBook {
    height: auto;
    margin: 1rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Card_descrition_of .AboutBook .card_evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

